.container {
    height: 100vh;
    display: flex;
    background-image: url(^assets/images/zh_logo_blue_new.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}